@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

.p-container {
    background: #f9f9f9;
    min-height: 100vh;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    font-family: 'Poppins', sans-serif;
}

.logo {
    font-size: 2em;
    color: #359381;
    pointer-events: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.parallax {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

#text {
    position: absolute;
    font-size: 5em;
    color: #ffffff;
    text-shadow: 2px 2px 10px  rgba(0, 0, 0, 0.2);
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}

.parallax img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}

.sec {
    position: relative;
    background: #003329;
    padding: 20px 60px;
    margin-top: 130px;
}

.sec h2 {
    font-size: 3em;
    color: #ffffff; 
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.sec p {
    font-size: 1em;
    /* color: #ffffff; */
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
}

.sec2 {
    position: relative;
    background: #003329;
    padding: 20px 60px;
}

.sec2 h2 {
    font-size: 3em;
    color: #ffffff; 
    margin-bottom: 10px;
    font-weight: 600;
}

.sec2 p {
    font-size: 1em;
    color: #ffffff;
    font-weight: 300;
}
